.img-logo{
    width: 80px;
    height: 80px;
}

.img-update{
    width: 150px;
    height: 150px;
}

.img-table{
    width: 100px;
    height: 100px;
}

.logo {
    width: 120px;
    padding: 7px;
}

